.landingpage {
    display: grid;
    place-content: center;
    gap: .5rem;
    text-align: center;
}

.landingpage__logo {
    width: 100%;
    max-width: 180px;
    margin-bottom: .5rem;
}

.landingpage h3 {
    font-family: "Fira Sans", sans-serif;
    color: var(--white);
    font-style: italic;
    text-shadow: 1px 1px 0 var(--black-shadow);
    font-size: 1.3rem;
    letter-spacing: 1.3px;
    font-weight: 400;
}