.footer {
    width: 100%;
    background-color: var(--text-pink);
    position: fixed;
    bottom: 0;
    padding: .8rem;
    box-shadow: 0 0 20px rgb(83, 83, 83);
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.navbar a {
    color: var(--white);
    text-shadow: var(--text-shadow);
}